@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Work Sans', sans-serif;
  }
  body{
    background: rgb(231,194,251);
    background: linear-gradient(90deg, rgba(231,194,251,1) 32%, rgba(128,139,255,1) 80%);
  }
}
